/*Formatação global*/

.estrutura {
    width: 100%;
    height: 100%;
    padding: 1px 3px;
}
.header {
    height: 100%;
    width: 100%;
}

.header img {
    height: 50vh;
    width: 100%;
}

.menu {
    width: 100%;
    height: 100%;
    background: burlywood;
}

.menu ul {
    display: flex;
    justify-content:space-around;
}

.menu ul li {
    font-size: 20px;
    list-style-type: none;
    padding: 10px 30px 10px 60px;
}
.conteudo {
    width: 100%;
    height: 100%;
    background: crimson;
}
.rodape{
    width: 100%;
    height: 100px;
    background: darkgreen;
}